@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
  }
  body{
    padding: auto;
    background-color: #404040;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-family: 'Cherry Bomb One', cursive;
  }
header{
  width: 100%;
  height: 90vh;
  margin-bottom: 2vh;
}
h1{
  font-size: 10vh;
  letter-spacing: 4px;
  color: #ffff;
  text-shadow: 0 0 4px #ba7b0d;
  transition: letter-spacing 1s;
}
h1:hover{
  letter-spacing: 10px;
}
.graphic{
  margin-top: 2vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#left-img{
  height: 20vw;
  margin-left: 15vw;
  transition: 0.8s;
}
#left-img:hover{
  height: 21vw;
  margin-top: -2vh;
  margin-left: 12vw;
}
#right-img{
  height: 20vw;
  margin-right: 10vw;
  transition: 0.8s;
}
#right-img:hover{
  height: 21vw;
  margin-top: -2vh;
  margin-right: 8vw;
}
#btn-translate{
  height: 5vw;
  width: 15vw;
  font-size: 2vw;
  margin-top: 10vw;
  margin-left: 5vw;
  letter-spacing: 2px;
  border-radius: 40px;
  background-color: #fbbf24;
  color: #ffff;
  text-shadow: 0 0 4px #f59e0b;
  font-family: 'Cherry Bomb One', cursive;
  transition: 0.8s;
}
#btn-translate:hover{
  height: 6vw;
  width: 18vw;
  font-size: 2.5vw;
}



.text{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#text-input{
  width: 40vw;
  height: 30vh;
  color: #134e4a;
  margin-left: 6vw;
  font-size: 3vh;
  padding: 10px 0 0 20px;
  border: 3px solid #134e4a;
  border-radius: 20px;
  font-family: 'Cherry Bomb One', cursive;
  transition: 0.7s;
}
#text-input:hover{
  width: 42vw;
  height: 32vh;
  margin-top: -2vh;
}

#text-output{
  width: 40vw;
  height: 30vh;
  color: #134e4a;
  margin-right: 6vw;
  font-size: 3vh;
  padding: 10px 0 0 20px;
  border: 3px solid #134e4a;
  border-radius: 20px;
  font-family: 'Cherry Bomb One', cursive;
  transition: 0.7s;
}
#text-output:hover{
  width: 42vw;
  height: 32vh;
  margin-top: -2vh;
}



p{
  width: 100%;
  padding: 3vh 0;
  background-color: #fbbf24;
  color: #fffef0;
  text-shadow: 0 0 4px #f59e0b;
  border-radius: 50px 50px 0 0;
  letter-spacing: 2px;
}

